{% extends "layout.html" %}
{% block title %}Code of Conduct{% endblock%}
{% block body %}

<p>
    This page reflects the programme's current <em>Code of Conduct</em> (CoC), explaining what is expected of students and teachers. The CoC is not set in stone - as a group we should strive to make it better! In this case <em>better</em> is defined as enabling more effective learning and being more pleasant for everyone involved. Feel free to propose your ideas in a group discussion.
</p>

<div class="tab-selectors">
    <a>Daily schedule</a>
    <a>Our offices</a>
    <a>Assignments</a>
    <a>Exams</a>
    <a>Negative recommendations</a>
    <a>Misc</a>
</div>

<div class="tab-blocks">
    <ul>
        <li>Opening hours are between 8:00 and 22:00. At least one of the teachers will generally be present between 8:30 and 17:30.</li>
        <li>Every working day at 9:00, each class does a kickoff meeting.</li>
        <li>Right after the kickoff meeting, you'll show the assignment you're working on to your *buddy of the day*. And you'll look at his/her work, of course. Explaining what you're working on helps your brain get back into the action, and perhaps your buddy may be able to provide you with some useful insides. You *buddy of the day* is assigned by the Learning Management System (the page you're looking at), and visible on your profile page.</li>
        <li>From 12:30 until 13:00 is lunch time. Everyone is encouraged to join around the central desks, eating whatever food they brought from home. Or people can decide to go on a lunch walk (optionally visiting Spar to get some food). When there are lunch talks (which will be announced in advance) or all-hands meetings, going out is not an option though. Lunch is important for team building - please be social and inclusive!</li>
        <li>At 13:00, you'll continue work by meeting with your *buddy of the day* again, helping each other get going again. So if you're going out for lunch, make sure you're back before 13:00.</li>

        <li>Attendance:<ul>
            <li>The learning management system (LMS) registers your onsite working hours. This is how it works:
                <ul>
                    <li>Whenever you have the LMS website open, it will send regular pings to the server.</li>
                    <li>The server just stores the time of the first and the time of the last incoming ping for each day for each user.</li>
                    <li>Only time between 8:00 and 18:00 is logged.</li>
                    <li>Students arriving before 9:00 (in time for the stand-up) get half an hour of bonus time logged.</li>
                </ul>
            </li>
            <li>Students are expected to clock <em>at least</em> 7 hours per working day on average, including (lunch) breaks. Due to the bonus half hour, the minimum is actually 6½ hours for students arriving before 9:00. Some examples of working days that meet the bare minimum:
                <ul>
                    <li>8:00 - 14:30</li>
                    <li>11:00 - 18:00</li>
                </ul>
                It is of course recommended to attend the kickoff at 9:00 and to clock <em>more</em> hours than just the bare minimum. This helps you make solid progress, but also builds some buffer in case you get sick by the end of the quarter.
            </li>
            <li>To facilitate a side job, child care, or other special circumstances, students can ask their study counsellor to work one or more fixed days per week from home or not at all. These days won't count towards the expected onsite hours. This privilege is only extended to students that are otherwise showing a strong study discipline, and may be revoked if the study counsellor finds that condition no longer holds.</li>
            <li>As short-term sickness and other (valid) reasons for being absent usually cannot be verified, onsite hours expectations will <em>not</em> be relaxed in these circumstances. It should however be easy enough to compensate for occasional days of absence. For structural conditions, such as long-term illness, some proof (such as a doctor's note) is required.</li>
        </ul></li>

        <li>Coding sessions:<ul>
            <li>Each day at 15:30 an hour long coding session will be held. During a coding session, a group of up to fifteen students and one teacher will gather around a screen to code something together. The teacher will be at the keyboard. Students are expected to come up with ideas on what to implement, and will be asked to propose and discuss implementation techniques.</li>
            <li>Students are free to join as many weekly coding sessions as they want, but students working in periods 1.1 and 1.2 are expected to join at least one.</li>
            <li>As coding sessions often have an ongoing theme, we recommend students attend coding sessions on the same day(s) every week.</li>
            <li>Within the #coding-session Discord group, the coding session teacher of the day will post the topic of the session in the morning. Students can register to attend using a thumbs up. Only the first fifteen students to register can join the session.</li>
            <li>When working from home, students can join through the appropriate Discord video channel.</li>
        </ul></li>
    </ul>

    <ul>
        <li>Working areas:<ul>
            <li>Each class has its own working area (informally known as *the sweatshop* and *the jungle*).</li>
            <li>While people are working, please keep the noise down! It is okay to talk about the subject matter in a calm voice. It is also okay to be nice, say good morning, etc. It's not okay to have a prolonged conversation about personal matters, or to joke around (unless your jokes are exceptionally witty and enjoyable). All of this does not apply during lunch or other social gatherings, of course.</li>
            <li>Desks can only be claimed for the duration of one day, on a first-come first-serve basis. In case you have any special requirements that cause you to prefer a specific desk, an exemption to this rule may be made. Talk to your teacher.</li>
            <li>Students who are planning to do an exam the next day, can reserve a desk by planting one of the finish flags on it.</li>
            <li>Please empty/clean your desk before you leave. You can put your (coffee) mug in the cupboard in your working area, in the grid square with your name on it.</li>
        </ul></li>

        <li>Iglo:<ul>
            <li>The Iglo, the coffee machine area, is where you can go to take a break, put your feet up, have some fun, etc. People who like working in a more lively environment are also free to bring their laptops here and grab a chair, a bean bag or a standing desk. There should be some quiet music playing here, to help set a relaxed atmosphere.</li>
            <li>This is also the home of <a href="https://tuks.dev" target="_blank">Study Association Tuks</a>.</li>
            <li>The room is shared between the two classes.</li>
            <li>During 15:30 and 16:30 coding sessions are held here. During these sessions, the coffee machine is off limits due to the noise.</li>
            <li>After 16:30, there can be some more liveliness in the Iglo. Music can be a bit louder, the game console can be used, etc.</li>
            <li>Coffee and tea are available for free for members of study association Tuks. Please adhere to the instructions posted near the coffee machine. And please bring your own cup/mug, to reduce needless waste and clutter from throwaway cups.</li>
            <li>Tuks members can buy snacks from the cupboard and drinks from the fridge using the sales terminal running on the laptop in the cupboard.</li>
            <li>Alcoholic beverages bought from study association Tuks may be consumed in the Iglo after 16:00.</li>
            <li>When you leave the Iglo, please take your cup/mug, garbage and any belongings with you.</li>
        </ul></li>

        <li>Your home office:<ul>
            <li>Working from home is allowed if you have made a special arrangement to do so for specific days of the week, or in case you may have caught a virus you don't want to spread around.</li>
            <li>In order to participate while at home:<ul>
                <li>For messaging <a href="https://discord.gg/PsMZ8M92mX">the programme's Discord server</a> can be used. Each class has its own private channel, and there are a couple of channels for various other purposes. We recommend that you install the Discord app on your mobile phone, so that you can receive (important) notifications at any time.</li>
                <li>When working from home, Teams is the way to do video conferencing. (Unfortunately Discord video doesn't work reliably on the Saxion network).<ul>
                    <li>A one-on-one Teams call can be used to ask your mentor (or a teacher) a question, to ask your mentor for feedback before turning an assignment in, and to get the teacher's feedback on an assignment (the teacher will initiate the call). When clicking on a person on the LMS' <a href="/people">People page</a>, you'll find a button that links you directly to that person's Teams profile, from where you can initiate a call.</li>
                    <li>The Teams link in calendar events can be used to join a stand-up meeting or a coding session remotely.</li>
                </ul></li>
                <li>For messaging <a href="https://discord.gg/PsMZ8M92mX">the programme's Discord server</a> can be used. Each class has its own private channel, and there are a couple of channels for various other purposes. We recommend that you install the Discord app on your mobile phone, so that you can receive (important) notifications at any time.</li>
            </ul></li>
        </ul></li>

        <li>When you're the last one to leave our offices (having even outworked all of the teachers!), please lock both doors from the inside before you leave. Afterwards you can make your exit through the middle door to the staircase, which cannot be opened from the outside.</li>
        <!--
        <li>1.5m restriction:<ul>
            <li>The 1.5m restriction is in full effect, and we really have to abide by it if we want keep working onsite.</li>
            <li>If you see people getting to close, please provide a friendly reminder. We all know it's an easy mistake to make when being in the same room(s) all day, but we can't afford those mistakes. We <em>will</em> be scrutinized.</li>
            <li>When getting or providing help, you'll often want to look at the same monitor together. As that's hard to do at 1.5m, the two standing desks have been converted into <em>help desks</em>. They contain a monitor that can be attached to the laptop of the one seeking help. The helper can stand on the other side of the desk, looking at the monitor.</li>
        </ul></li>
        -->
    </ul>


    <ul>
        <li>Within the LMS (Learning Management System - the site you're looking at), you can choose which assignment you want to work on. You get to choose between the first unfinished assignment of each of the three modules in your current period.</li>
        <li>When starting work on an assignment the LMS will set you a deadline. This deadline is set a bit more generously (by a factor of 1.5) than the expected time you'd need for the assignment. You should submit your work before the deadline, even if it's not finished yet. Working for too long on an assignment can be frustrating and drain your motivation. Therefore, it's better to switch to a different assignment at that time. A teacher will discuss your partial work with you at a later time, and together you can determine how to proceed with the failed assignment.</li>
        <li>After handing in an assignment, a teacher will approach you to discuss your work. Generally this will happen sometime during the next working day. You will be asked to demo your program and you'll discuss code quality. An assignment is marked as completed when your grade is at least an 8 out of 10. This way, you'll have a solid foundation for the next, more complex, assignment. In case your work isn't yet good (or finished) enough, you will be asked to either work on the assignment some more (applying the feedback you got), or to start anew.</li>

        <li>Asking for help:<ul>
            <li>While learning about new concepts or while working on an assignment, it's common to get <em>stuck</em> not understanding something. If you've been stuck for about 15 minutes, not making any progress, you should ask for help. Asking for help is a natural aspect of learning. Ask a (friendly/smart looking) fellow student for help or post your questions on the #help-me Discord channel. If other students are unable to help you, feel free to approach a teacher for help.</li>
            <li>You are highly encouraged to help other students (unless of course they're working on an exam). Helping others will not only make you friends, it will also add to your understanding of the subject matter, as well as provide training in clear technical communication.</li>
            <li>When asking someone for help (be it a fellow student or a teacher), please ask politely and allow the helper some time. When programming, people often get (and <em>should get</em>) <a href="https://www.youtube.com/watch?v=iUsOCR1KKms" target="_blank">into the flow</a>. In the flow, a programmer may be juggling with many tidbits of information in her/his short term memory, such as meanings of variables and functions, designs, things that still need to be done, and theories behind bugs. An interruption at the wrong time may cause all that information to be lost. So when asked for help, a perfectly acceptable answers could be: sure, let me finish this up and make some notes, and I'll get back to you in about 5 to 10 minutes!</li>
        </ul></li>
    </ul>

    <ul>
        <li>Exams can only be taken onsite.</li>
        <li>All students are entitled to two exam attempts per module per study year. In extraordinary cases students can request an additional attempt via the Examination Board.</li>
        <li>When you're planning to take an exam, please let the teachers know about this (when and what exam) in the `#exam-request` Discord channel at the latest at noon on the proceeding working day.</li>
        <li>You are not allowed to communicate about anything related to the exam. Not during and not after. The only thing you're allowed to say is a very general remark on how you experience(d) the exam (<em>easy peasy!</em> or <em>that was bad!</em>, and nothing more). When any violation of this rule is noted, a complaint must be filed with the Examination Board.</li>
        <li>While taking an exam, put one of the finish flags on your desk. This signals to others that you should not be disturbed, and certainly not be asked about your work.</li>
        <li>Taking a break and talking with others <em>is</em> of course allowed, as long as the exam is not a subject.</li>
        <li>After an exam has been discussed and graded, you're required to delete your exam work from your laptop. You are not to make any copies.</li>
        <li>While working on an exam, your laptop should remain in the classroom at all times.</li>
        <li>When you're taking a multi-day exam, it should not spawn a weekend and you should leave your laptop at school over night. If you prefer not to leave your laptop, please talk to the teachers well in advance, so that they can arrange another computer for you to work on.</li>
        <li>During an exam, you're allowed to draw from your earlier work and to access any online resources. Copying code fragments is allowed, if given proper attribution in the comments. You are however <em>not</em> allowed to actively seek help online, through chat, forums or any other means.</li>
        <li>You must submit your work at the latest at 17:30 on the last day of your exam.</li>
        <li>Unless stated otherwise in the exam, only grades of 5.5 and higher are passing grades. That means that 5.499 is *not* a passing grade.</li>
    </ul>

    <ul>
        <li>While you're working on the first year of the curriculum (periods 1.1 up to 1.4), your performance will be evaluated after every quarter (10 working weeks).</li>
        <li>When with regard to this quarter you..<ul>
            <li>meet the <a href="#daily_schedule">attendance expectations</a> and..<ul>
                <li>progressed at at least ½ nominal pace (or at the custom target pace that has been agreed upon previously), your performance is considered satisfactory.</li>
                <li>progressed at a lower pace, your performance is considered lacking. Together with your study counsellor you <em>may</em> agree upon a lower custom target for the next quarter, in case you really are motivated to complete the programme, but your circumstances or abilities truly require a lower pace.
            </ul></li>
            <li>do <em>not</em> meet the <a href="#daily_schedule">attendance expectations</a> and..<ul>
                <li>progressed at at least ⅔ nominal pace, your performance is considered satisfactory.</li>
                <li>progressed at a lower pace, your performance is considered lacking.</li>
            </ul></li>
        </ul></li>
        <li>In case your performance is found to be lacking for the first time, you will receive an official warning.</li>
        <li>In case your performance is found to be lacking for two subsequent quarters, you will receive a negative recommendation.</li>
        <li>Students that have received a negative recommendation are expected to deregister from the programme. If the student so desires, his/her study counsellor will help finding suitable career options.</li>
        <li>On your LMS profile page you can view relevant quarterly statistics as well as check-in/check-out times for the last couple of days.</li>
        <li>Students that have (almost) finished the first year curriculum and have started their first internship are no longer subject to the recommendation system.</li>
    </ul>

    <ul>
        <li>Please be inclusive, language-wise. Don't speak Dutch (or any other language for that matter) when around people that don't speak the language. Our only official language is English.</li>

        <li>Please be so kind to upload an actual photo of your face as your avatar in the LMS. Learning a lot of new names at once can be hard, so it would be great if we could use the <a href="/people">People page</a> as a cheat sheet.</li>

        <li>Study counselling:<ul>
            <li>Three times a year, each student will be invited for a private talk with her/his study counsellor (whom is one of the teachers). These talks will (ideally) happen in September, January and May.</li>
            <li>The central theme in these talks is the student's talent development.</li>
        </ul></li>

        <li>Degree programme committee:<ul>
            <li>The Software Development programme has a <em>Degree programme committee</em>, composed of three students and three faculty members. It exists to advice Saxion management on all kinds of matters related to the programme. More information can be found in the <a href="https://saxion.sharepoint.com/sites/site000001/Weten%20en%20regelen%20medewerkers/Onderwijs/Wet-%20&amp;%20regelgeving/Regelingen/ENG_Medezeggenschapsreglement%20Saxion%2008102918%20definitief.pdf?csf=1&amp;e=UiUspV&amp;cid=b97b4937-2d88-4059-bd92-d22c6be1b434">Saxion University Council Regulations</a>.</li>
            <li>The committee meets (at least) six times per year. Student member are entitled to a financial compensation for each attended meeting.</li>
        </ul></li>

        <li>Changing this document:<ul>
            <li>This code of conduct is not meant to be set in stone. Proposals for how to make things better (or more fun!) are very welcome. You can discuss your ideas with the teachers, or submit them as input to the <em>Degree programme committee</em>.</li>
        </ul></li>

        <li>Links to relevant Saxion services:<ul>
            <li><a href="https://mijn.saxion.nl/">Mijn Saxion</a>. A portal containing links to a lot of information and Saxion application.</li>
            <li><a href="https://mail.saxion.nl/">Mail</a>. Access your Saxion email online.</li>
            <li><a href="https://servicedesk.saxion.nl/tas/public/ssp/823b0537-942e-40e3-8dcf-392da5bc5431">Examination Board request application</a>. Can be used request an special exemption or to file an official complaint about an exam.</li>
            <li><a href="https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies">Study Success Centre </a>. If you run into trouble with your studies or your personal life, the Study Success Centre may be able to provide assistance.</li>
            <li><a href="https://mijn.saxion.nl/students/knowledgebase/topics/my-school-act-studenten/null/organisation?question=eer-act">Education and Examination regulation</a>.</li>
            <li><a href="https://bison.saxion.nl">Bison</a>. Official grade registration.</li>
        </ul></li>
    </ul>

</div>

{% endblock %}