{% extends "layout.html" %}

{% block title %}
Inbox
{% endblock %}

{% block main_class %}container{% endblock %}

{% block body %}

{% for attempt in ungraded_attempts %}

    {% if not loop.previtem or loop.previtem.student.class_name != attempt.student.class_name %}
        {% if loop.previtem %}
            </div>
        {% endif %}
        <h2>{{attempt.student.class_name or "No class"}}</h2>
        <div class="people-cards">
    {% endif %}

    <a class="card" href="/curriculum/{{attempt.node_id}}?student={{attempt.student_id}}">
        <img class="avatar" src="{{attempt.student.avatar}}" alt="Student avatar">
        <div>
            <h3>
                <div class="tag inbox_{{attempt.status}}">
                    {% if attempt.status == "needs_grading" %}
                        {% if attempt.finished == None or attempt.finished == "yes" %}
                        Grade
                        {% else %}
                        Unfinished
                        {% endif %}
                    {% elif attempt.status == "awaiting_approval" %}
                    Approve
                    {% elif attempt.status == "needs_consent" %}
                    Consent
                    {% elif attempt.status == "in_progress" %}
                    Deadline
                    {% endif %}
                </div>
                {{attempt.student.short_name}}
            </h3>
            <p>
                {{modules[nodes[attempt.node_id].module_id].short or modules[nodes[attempt.node_id].module_id].name or modules[nodes[attempt.node_id].module_id].id.capitalize()}} ➤
                {{nodes[attempt.node_id].name}}
            </p>
        </div>
    </a>
{% endfor %}
{% if attempt %}
    </div>
{% endif %}

{% endblock %}