{% extends "layout.html" %}

{% block title %}
Leaderboard
{% endblock %}

{% block body %}

<h2>Progress in the last 10 working days</h2>
<div class="people-cards">
    {% for item in progress_per_person %}
    <a href="{{ url_for('edit', userId=item.person.id) }}" class="card">
        <img class="avatar" src="{{item.person.avatar}}" alt="Avatar">
        <div>
            <h3>
                {{loop.index}}. {{item.person.full_name}}
            </h3>
            <p>
                {{item.passed}} lesson days{% if item.needs_grading %} + {{item.needs_grading}} to grade{% endif %}
            </p>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}