{% extends "layout.html" %}
{% block title %}{{title}}{% endblock%}

{% block bare_body %}

<style>
    .markdown-columns {
        column-gap: 2%;
        padding: 2%;
    }
    @media screen and (min-width: 1400px) {
        .markdown-columns {
            columns: 2;
        }
    }
    @media screen and (min-width: 1900px) {
        .markdown-columns {
            columns: 3;
        }
    }
    @media print {
        .markdown-columns {
            columns: 3;
        }
    }

    @media screen {
        .markdown-columns > * {
            page-break-inside: avoid;
            break-inside: avoid-column;
        }
    }
</style>
<main class="content markdown-columns">
    {{ body | markdown | safe}}
</main>

{% endblock %}