{% extends "layout.html" %}

{% block title %}Curriculum{% endblock %}

{% block body %}


<div class="columns">
	<div>
		<p>
			The figure on the right describes the structure of the study programme. At the top level, the programme consists of eight end qualifications. Each of the end qualifications must be demonstrated by the student in the final examination, by means a portfolio and a public defence.
		</p>
		<p>
			Besides that, the end qualifications have learning outcomes attached. The end qualifications and learning outcomes have been set in accordance with the <i>HBO-i domeinbeschrijving</i>, NLQF and the input provided by the <i>beroepenveldcommissie</i> by the curriculum committee. As such they cannot not be changed lightly - there's a yearly evaluation process for that.
		</p>
		<p>
			Each learning outcome has one or more (typically about two) learning goals attached to it. This extra layer is to adapt the learning outcomes into units that are well-suited for a coherent study programme. They are set by the curriculum committee. These learning goals are also the test goals for each of the regular (non-final) exams.
		</p>
	</div>
	<div>
		<img src="/static/curriculum-overview.png" />
	</div>
</div>


<div class="tab-selectors">
	<a>By qualification</a>
	<a>By period</a>
</div>

<div class="tab-blocks">

	<div class="rows3">
		<p>
			What follows is the list of end qualifications with their learning outcomes. Each learning outcome can be expanded to show its learning goals, as well as the formative assignments and exams that they are part of. 
		</p>

		<ul>
			{% for endterm in endterms %}
			<li>
				<strong>{{ endterm.short }}.</strong>
				<span>{{ endterm.description }}</span>
				<ul>
					{% for outcome in endterm.outcomes %}
					<li><details>
						<summary>{{ outcome.description }}</summary>
						<ul>
							{% if outcome['justification'] %}
							<li>
								<div class="tag">justification</div>
								{{ outcome['justification'] }}
							</li>
							{% endif %}    
							{% for goal in outcome.goals %} 
							<li>
								{{ goal.description.title }}
								<ul>
									{% for lesson in goal.nodes %} 
									<li>
										<a class="node-{{lesson.id}}" href="/curriculum/{{lesson.id}}">{{lesson['name']}}.</a>
										{{lesson['description']}}
										{% if lesson['days']!=1 %}
										{{lesson['days']}} days.
										{% endif %}
										{% if lesson['ects'] %}
										{{lesson['ects']}} credits.
										{% endif %}
									</li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</details></li>
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
	</div>


	<div class="rows2">
		{% for block_name, block in periods.items() %}
			<h2>Period {{block_name}}</h2>
		
			{% for topic in block %}
				<h3>
					{{topic['name']}}
				</h3>
				<div class="stats">
					{{topic["avg_days"] | round | int}} days nominal · {{topic["ects"]}} credits
				</div>
				<div class="rows2">
					{{(topic.get('description') or '')|markdown|safe}}
					{% if topic.get('goals') %}
						When finishing this module students should be able to...
						<ul>
							{% for goal_title in topic.get('goals').values() %}
								<li>{{goal_title}}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
		{% endfor %}	
	</div>

</div>

<script src="/static/highlight.js"></script>

{% endblock %}

